.sub-heading {
    background-color: #FF9999;
    padding: 8px;
    text-align: center;
}

.flex-container {
    display: flex;
}

.left-container {
    width: 76vw;
}

.right-container {
    width: 24vw;
    padding-top: 20px;
}

.flex-container-inner {
    margin: 16px;
}

.movie-img-itm {
    margin: 15px;
}
